.App {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.viz {
  width: min-content;
  border: 1px dashed gray;
  padding: 1rem;
}
